.btn {
    @include dflex(nowrap, row, center, center);
    @include transition();
    text-align: center;
    height: 70px;
    padding: 0 40px;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    background-color: $accent-bg-color-active;
    border: 1px solid $accent-bg-color-active;
    border-radius: 5px;
    cursor: pointer;

    &:hover,
    &:focus {
        color: $accent-color;
        background-color: $accent-bg-color-hover;
        border-color: $accent-bg-color-hover;
        outline: none;
    }

    &:active {
        background-color: #fff;
    }

    &--modal {
        max-width: 100%;
    }

    &--secondary {
        color: $accent-color;
        background-color: #fff;
        border-color: $accent-bg-color-hover;

        &:active {
            color: #fff;
            background-color: $accent-bg-color-active;
            border: 1px solid $accent-bg-color-active;
        }
    }

    &--order {
        width: auto;
        padding: 0 40px;
        white-space: nowrap;
    }

    &--no-br {
        border-radius: 0;
    }

    &--border {
        border: 1px solid $heading-color;
    }

    &--cart-restore {
        flex-shrink: 0;
        min-width: 194px;
        height: 50px;
        padding: 0 390px;
        font-size: 14px;
        line-height: 20px;
    }

    &--to-cart {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;

        &:hover,
        &:focus {
            color: #fff;
            background-color: $link-color-hover;
            border-color: $link-color-hover;
        }

        &:active {
            color: #fff;
            background-color: $link-color-active;
            border-color: $link-color-active;
        }

        & span {
            position: relative;
            display: block;
            padding-right: 35px;

            &::after {
                @include abs-center-y;
                left: auto;
                right: 0;
                width: 25px;
                height: 25px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url("../img/icon-to-cart.svg");
            }
        }
    }
}

@media (min-width: $tablet-width) {
    .btn {
        font-size: 16px;
        line-height: 22px;

        &--modal {
            position: relative;

            &::before,
            &::after {
                @include transition(background-color);
                @include abs-center-y;
                width: 20px;
                height: 1px;
                background-color: #fff;
            }

            &::before {
                left: 35px;
            }

            &::after {
                right: 35px;
                left: auto;
            }

            &:hover,
            &:focus,
            &:active {
                &::before,
                &::after {
                    background-color: $accent-color
                }
            }
        }

        &--cart-restore {
            height: 60px;
            font-size: 14px;
            line-height: 20px;
        }

        &--to-cart {
            font-weight: 700;
            font-size: 22px;
            line-height: 139%;
            text-transform: none;
        }
    }

    .btn--modal.btn--secondary {
        &::before,
        &::after {
            background-color: $accent-color;
        }

        &:active {
            &::before,
            &::after {
                background-color: #fff;
            }
        }
    }
}
