.index-banner {
    @include dflex(nowrap, column, center, center);
    position: relative;
    min-height: 350px;
    padding: 40px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.index-banner picture {
    @include object-fit;
    @include center;
    position: absolute;
    z-index: -1;
}

.index-banner__img {
    @include object-fit;
}

.index-banner .site-container {
    @include dflex(nowrap, column, center, center);
}

.index-banner__heading {
    margin-bottom: 20px;
    color: #fff;
    font-weight: 700;
}

.index-banner__link {
    @include transition(color);
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;

    &::after {
        @include abs-center-x;
        @include transition(background-color);
        top: auto;
        bottom: -6px;
        width: 100%;
        height: 2px;
        background-color: #fff;
    }

    &:hover,
    &:focus {
        color: $link-color-hover;
        outline: none;

        &::after {
            background-color: $link-color-hover;
        }
    }

    &:active {
        color: $link-color-active;

        &::after {
            background-color: $link-color-active;
        }
    }
}

@media (min-width: $tablet-width) {
    .index-banner {
        min-height: 450px;
    }

    .index-banner__heading {
        margin-bottom: 30px;
    }
}

@media (min-width: $desktop-width) {
    .index-banner {
        min-height: 600px;
        margin-bottom: -20px;
    }

    .index-banner__heading {
        margin-bottom: 40px;
    }
}
