.logo {
    &--header {
        width: 141px;
        height: 64px;
    }

    &--footer {
        display: none;
    }
}

.logo__img {
    @include object-fit;
    object-fit: contain;
}

@media (min-width: $tablet-width) {
    .logo {
        &--header {
            width: 217px;
            height: 101px;
        }
    }
}

@media (min-width: $desktop-width) {
    .logo {
        &--footer {
            display: block;
            width: 217px;
            height: 101px;
            margin: 0 auto 20px;
        }
    }
}
