.main {
    padding: 20px 0 40px;

    &--index {
        padding: 0;
    }

    &--404 {
        padding-bottom: 0;
    }
}

.main__prepage-breadcrumbs {
    margin-bottom: 10px;
}

.main__page-heading {
    text-align: center;
}

@media (min-width: $tablet-width) {
    .main {
        padding: 30px 0 60px;

        &--index {
            padding: 0;
        }

        &--404 {
            padding-bottom: 0;
        }
    }
}

@media (min-width: $desktop-width) {
    .main {
        padding: 40px 0 80px;

        &--index {
            padding: 0;
        }

        &--404 {
            padding-bottom: 0;
        }
    }
}
