.social {
    @include list-reset;
    @include dflex(nowrap, row, center, center);
    margin-bottom: 30px;
}

.social__item {
    &:not(:last-child) {
        margin-right: 25px;
    }
}

.social__link {
    @include transition(background-color);
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $icon-bg-color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px auto;

    &:hover,
    &:focus {
        background-color: $link-color-hover;
        outline: none;
    }

    &:active {
        background-color: $link-color-active;
    }
}

@media (min-width: $desktop-width) {
    .social {
        margin-bottom: 20px;
    }

    .social__item {
        &:not(:last-child) {
            margin-right: 15px;
        }
    }

    .social__link {
        width: 24px;
        height: 24px;
        background-size: 15px auto;
    }

    .social--contacts .social__link {
        width: 30px;
        height: 30px;
    }
}
