.static > .site-container {
    overflow: hidden;
}

.static__content-block {
    max-width: 860px;
    margin: 0 auto;

    &--table {
        max-width: none;
        overflow-x: auto;
    }
}

.static img {
    width: 100%;
    height: auto;
}

.static p {
    &:not(:last-child) {
        margin-bottom: 5px;
    }
}

.static.static--about * {
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.static__content-block {
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.static .static__accent-p {
    padding: 20px;
    background-color: $static-p-background-color;
    border-radius: 10px;
}

.static__slider .slick-list {
    padding: 0 !important;
}

.static__slider-counter {
    display: none;
}

.static__video {
    @include dflex(nowrap, column, flex-start, center);
}

.static__video-iframe-wrapper {
    position: relative;
    align-self: stretch;
    height: 0;
    padding-top: calc(100% / 900 * 550);
}

.static__video-iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.static__slider-item {
    &:not(:last-child) {
        margin-right: 5px;
    }
}

.static__slider-item-caption,
.static__video-caption {
    display: block;
    margin: 5px auto 0;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: $pic-caption-color;
}

.static__list-heading {
    margin: 0 0 15px;
    color: $text-color;
}

.static ul {
    @include list-reset;
}

.static ol {
    @include list-reset;
    counter-reset: list-number;
}

.static li {
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.static ul li {
    position: relative;
    padding-left: 22px;

    &::before {
        @include abs-pseudo;
        top: 9px;
        left: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2px solid $link-color-hover;
        z-index: 1;
    }
}

.static ol li {
    counter-increment: list-number;

    &::before {
        content: counter(list-number)'. ';
    }
}

.static p.static__pair {
    @include dflex(nowrap, column, flex-start, flex-start);
    margin-bottom: 10px;
}

.static__pair-heading {
    margin: 0 0 5px;
}

.static__pair-value {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
}

.static__btns {
    @include dflex(nowrap, column, flex-start, stretch);
}

.static__btn {
    &:not(:last-child) {
        margin-bottom: 5px;
    }
}

.static__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: $heading-color;
}

.static__link {
    @include transition(color);
    position: relative;
    display: inline;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: $heading-color;

    &::after {
        @include abs-center-x;
        @include transition(background-color);
        top: auto;
        bottom: -6px;
        width: 100%;
        height: 2px;
        background-color: $heading-color;
    }

    &:hover,
    &:focus {
        color: $link-color-hover;
        outline: none;

        &::after {
            background-color: $link-color-hover;
        }
    }

    &:active {
        color: $link-color-active;

        &::after {
            background-color: $link-color-active;
        }
    }
}

.static__quote {
    @include reset;
    @include dflex(nowrap, row, space-between, flex-start);
}

.static__quote-img-block {
    position: relative;
    flex-basis: 80px;
    flex-shrink: 0;
    margin-right: 20px;

    &::after {
        @include abs-pseudo;
        top: 0;
        right: 0;
        width: 21px;
        height: 17px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("../img/icon-static-quote.svg");
        z-index: 1;
    }
}

.static__quote-img {
    @include object-fit;
    border-radius: 50%;
}

.static__quote-text-block {
    @include dflex(nowrap, column, flex-start, flex-start);
}

.static__quote-text {
    margin-bottom: 10px;
}

.static__quote-cite {
    @include dflex(nowrap, column, flex-start, flex-start);
    font-style: normal;
}

.static__quote-cite-name {
    margin: 0 0 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: $accent-color;
}

.static__quote-cite-position {
    font-size: 13px;
    line-height: 20px;
}

.static__content-block table {
    width: 100%;
    border: none;
    border-collapse: collapse;
}

.static__content-block caption {
    margin: 0 0 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: $text-color;
}

.static__content-block thead tr {
    @include dflex(nowrap, row, flex-start, center);
    padding: 10px 20px;
    background-color: #fff;
}

.static__content-block tbody tr {
    @include dflex(nowrap, row, flex-start, center);
    padding: 15px 20px;
    background-color: $table-bg-color;

    &:nth-child(2n) {
        background-color: #fff;
    }
}

.static__content-block th,
.static__content-block td {
    flex-basis: 200px;
    min-width: 200px;
    flex-shrink: 0;
    flex-grow: 1;
    font-weight: 400;
    text-align: left;
    color: $table-text-color;

    &:not(:last-child) {
        margin-right: 40px;
    }

    &:last-child {
        text-align: center;
    }
}

.static__download {
    @include dflex(nowrap, column, flex-start, stretch);
}

.static__download-link {
    @include transition(background-color);
    @include dflex(wrap, row, space-between, space-between);
    padding: 20px;
    background-color: $table-bg-color;

    &:not(:last-child) {
        margin-bottom: 10px;
    }

    &:hover,
    &:focus {
        background-color: $accent-bg-color-hover;
        outline: none;
    }

    &:active {
        background-color: $accent-bg-color-active;
    }
}

.static__download-link-name {
    @include transition(color);
    flex-basis: 100%;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 22px;
    color: $accent-color;
}

.static__download-link-size {
    @include transition(color);
    font-size: 14px;
    line-height: 22px;
    color: $accent-color-light;
}

.static__download-link-text {
    @include transition(color);
    position: relative;
    padding-right: 18px;
    font-size: 14px;
    line-height: 22px;
    color: $accent-color;

    & svg {
        position: absolute;
        top: calc(50% - 1px);
        right: 0;
        transform: translateY(-50%);

        & path {
            @include transition(fill);
            fill: $accent-color;
        }
    }
}

.static__download-link:active .static__download-link-name,
.static__download-link:active .static__download-link-size,
.static__download-link:active .static__download-link-text {
    color: #fff;
}

.static__download-link:active path {
    fill: #fff;
}

@media (min-width: $tablet-width) {
    .static p {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    .static.static--about * {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    .static__content-block {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    .static__slider-counter {
        @include reset;
        @include dflex(nowrap, row, center, center);
        margin-top: 5px;
        font-weight: 700;
        font-size: 22px;
        line-height: 25px;
        text-align: center;
        color: $accent-color;
    }

    .static__slider-counter-separator {
        margin: 0 7px;
    }

    .static__slider-item-caption,
    .static__video-caption {
        margin: 10px auto 0;
        font-size: 14px;
        line-height: 22px;
    }

    .static p.static__pair {
        margin-bottom: 20px;
    }

    .static__pair-heading {
        margin: 0 0 10px;
    }

    .static__pair-value {
        font-size: 22px;
        line-height: 25px;
    }

    .static__btns {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: -10px;
    }

    .static__btn {
        &:not(:last-child) {
            margin-right: 15px;
            margin-bottom: 10px;
        }
    }

    .static__link {
        display: table;
        margin: 0 auto;
        font-size: 16px;
        line-height: 25px;
        font-weight: 700;
    }

    .static__quote-img-block {
        flex-basis: 100px;

        &::after {
            width: 32px;
            height: 25px;
        }
    }

    .static__quote-text {
        margin-bottom: 20px;
    }

    .static__quote-cite-name {
        margin: 0 0 10px;
        font-size: 22px;
        line-height: 25px;
    }

    .static__quote-cite-position {
        font-size: 14px;
        line-height: 22px;
    }

    .static__content-block caption {
        margin: 0 0 20px;
        font-size: 22px;
        line-height: 25px;
    }

    .static__content-block thead tr {
        padding: 15px 20px;
    }

    .static__content-block tbody tr {
        padding: 25px 20px;
    }

    .static__download-link {
        padding: 33px 20px;
    }

    .static__download-link {
        flex-wrap: nowrap;
        padding: 30px 20px;
    }

    .static__download-link-name {
        @include transition(color);
        flex-basis: auto;
        flex-grow: 1;
        flex-shrink: 1;
        margin-right: 15px;
        margin-bottom: 0;
        font-size: 16px;
        line-height: 28px;
    }

    .static__download-link-size,
    .static__download-link-text {
        flex-shrink: 0;
        font-size: 14px;
        line-height: 22px;
    }

    .static__download-link-text {
        margin-left: 15px;
    }
}

@media (min-width: $desktop-width) {
    .static__content-block {
        max-width: 900px;

        &--table {
            max-width: 1180px;
        }
    }

    .static p {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    .static.static--about * {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    .static__content-block {
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    .static p.static__pair {
        margin-bottom: 20px;
    }

    .static__slider {
        overflow: hidden;
    }

    .static__slider-item {
        &:not(:last-child) {
            margin-right: 0px;
        }
    }
}
