$text-color: #38414A;
$heading-color: #06111D;

$link-color-hover: #E48C3A;
$link-color-active: #FFB703;

$accent-color: #073E80;

$accent-bg-color: #F0F6FC;
$accent-bg-color-hover: #B5C5D9;
$accent-bg-color-active: #073E7F;

$accent-color-light: #6A8BB3;
$accent-color-ligher: #839FC0;

$neutral-color: #83888E;

$pic-caption-color: #6A7077;
$footer-bg-color: #F9F9F9;
$table-text-color: #204370;
$table-bg-color: #FAFAFA;
$show-more-btn-color: #27303F;

$icon-bg-color: #707287;

$input-focus-color: #6A8BB3;

$tablet-width: 768px;
$desktop-width: 1200px;
